body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9ecef;
  margin: 0;
}

#quiz-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 20px;
}

.heading {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

#name-input, #password-input, #test-select {
  border: 2px solid #3498db;
  height: 40px;
  width: 100%;
  max-width: 350px;
  font-size: 16px;
  margin: 10px auto;
  padding: 0 10px;
  border-radius: 8px;
}

button {
  padding: 12px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
  width: 200px;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#timer {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

#question-text {
  font-size: 22px;
  margin-bottom: 20px;
}

.option {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  color: black;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover { background-color: #dcdcdc; }
.option.correct { background-color: #00ff6a; color: black; }
.option.incorrect { background-color: #ff1900; color: black; }

.bottom {
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #888;
}

.attempts-list {
  list-style: none;
  padding: 0;
}

.attempt-item {
  margin-bottom: 15px;
  padding: 10px;
  border-left: 5px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.correct { color: green; font-weight: bold; }
.incorrect { color: red; font-weight: bold; }

.download-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
